@font-face {
  font-family: 'Supermarket';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/supermarket-webfont.woff) format('woff');
}

* {
  font-family: 'Supermarket', 'Raleway', sans-serif;
}

body {
  margin: 1em;
  background-image: url(../images/bg.png),
    linear-gradient(to bottom, white, #e3e0f1);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

footer {
  text-align: center;
  margin-top: 2em;
  color: gray;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

.logo-container {
  text-align: center;
  margin: 2em 0;
}

.logo {
  height: 70px;
}

.branch-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
}

.branch-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  border: 1.5px solid #b3abd9;
  padding: 0.75rem;
  text-align: center;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.6);
}

.branch-card > div {
  width: 100%;
}

.branch-card > div:first-child {
  margin: 1em;
}

.branch-card img {
  box-sizing: border-box;
  flex: 1;
  margin: 2em 4em;
  margin-top: 1em;
  max-height: 200px;
}

.branch-card h3 {
  font-weight: bold;
  font-family: 'Raleway';
}

.branch-name {
  font-size: 24px;
  margin-bottom: 0.25em;
}

.color-content {
  color: #81b77d !important;
}

.color-content-dark {
  color: #579553 !important;
}

.color-programming {
  color: #78c8f4 !important;
}

.color-programming-dark {
  color: #49b5f0 !important;
}

.color-designer {
  color: #f7c778 !important;
}

.color-designer-dark {
  color: #f4b348 !important;
}

.color-marketing {
  color: #f797aa !important;
}

.color-marketing-dark {
  color: #f36883 !important;
}

.color-purple {
  color: #6d65ac !important;
}

.color-purple-dark {
  color: #554e90 !important;
}

.current-queue-text {
  font-size: 24px;
  margin-bottom: 0.25em;
}

.current-queue {
  font-size: 80px;
  line-height: 1em;
  margin: 0.25em 0;
}

.next-queue-text {
  font-size: 25px;
}

@media (max-width: 1200px) {
  .branch-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* mobile */
@media (max-width: 780px) {
  .branch-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .branch-card {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .current-queue {
    font-size: 40px;
  }
  .branch-name {
    font-size: 14px;
    margin-bottom: 0.25em;
  }
  .branch-card img {
    margin: 0;
    margin-bottom: 1em;
    max-height: 80px;
  }
  .branch-card > div:first-child {
    margin: 1em 0;
  }
}
