#branch {
  font-size: 40px;
  text-decoration: underline;
}

input {
  font-size: 50px !important;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

button {
  background: red;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  padding: 0.25em 1em;
}
